.c1
{
    background-color: green;
    color: white;
}
.main{
    margin: auto;
    padding: auto;
    width: 100%;
    text-align: center;
}
.c2
{
    background-color: red;
    color: black;
}

.c3
{
    background-color: blue;
    color: white;
}

.c4
{
    background-color: pink;
    color: blue;
}

.c5
{
    background-color: rgb(192, 241, 255);
    color: black;
}

th{
    background-color: chartreuse;
}

td{
    background-color: aquamarine;
}

h3{
    background-color: darkslategray;
}

h2{
    background-color: orange;
}

.col
{
    background-color: hotpink;
}

input
{
    background-color: aquamarine;
}

h1{
    background-color: aqua;
}
h4{
    background-color: rgba(57, 93, 76, 0.379);
    font-weight: 1000;
}
h5{
    background-color: cornflowerblue;
    font-weight: 500;
    
}

h6{
    background-color: crimson;
}

.b{
    background-color: hotpink;
}
