<h1 class="c1">{{ title }}</h1>
<div class="main">
<h1 class="bg-secondary">ngIf example</h1>
<!-- ngIf example -->
<div style="background-color: pink" *ngIf="sucess_msg">
  user add scussesfully
</div>
<br />
<!-- using bootstrap bg-primary -->
<div class="bg-primary" *ngIf="sucess_msg1">user add scussesfully</div>
<br />
<!-- using and operator -->
<div class="bg-primary" *ngIf="sucess_msg && sucess_msg1">
  user add scussesfully
</div>
<br />
<!-- using and operator -->
<div class="bg-primary" *ngIf="sucess_msg || sucess_msg1">
  user add scussesfully
</div>
<br />
<!-- using and operator -->
<div class="bg-primary" *ngIf="!sucess_msg">user add scussesfully</div>
<br />

<!-- using and else -->
<div class="bg-primary" *ngIf="sucess_msg; else error_msg">
  user add scussesfully
</div>

<ng-template class="bg-primary" #error_msg> user was not added..! </ng-template>
<br />

<!-- using and then it directyly go to update -->
<div class="bg-primary" *ngIf="sucess_msg; then update_msg; else error_msg">
  user add scussesfully
</div>

<ng-template class="bg-primary" #update_msg> user was updated..! </ng-template>
<br />

<ng-template class="bg-primary" #error_msg> user was not added..! </ng-template>
<br />

<!-- using ngfor -->
<h1 style="background-color: red">ngFor example</h1>
<ul>
  <!--(let contact of) ==i  contacts (array name) -->
  <li
    class="bg-primary"
    *ngFor="let contact of contacts; index as i; first as f; last as l"
  >
    <div class="bg-secondary" *ngIf="f">This is a first record</div>
    <div>{{ i }} {{ contact.firstName }} {{ contact.lastName }}</div>
    <div class="bg-secondary" *ngIf="l">This is a last record</div>
  </li>
</ul>

<!-- using table -->
<p>new table with even and Odd</p>
<ul>
  <li
    class="bg-primary"
    *ngFor="let contact of contacts; index as i; even as e; odd as o"
  >
    <div *ngIf="e" class="bg-primary">
      {{ i }} {{ contact.firstName }} {{ contact.lastName }}
    </div>

    <div *ngIf="o" class="bg-secondary">
      {{ i }} {{ contact.firstName }} {{ contact.lastName }}
    </div>
  </li>
</ul>

<h1 class="bg-secondary">ngswitch example</h1>

<div [ngSwitch]="tax">
  <div *ngSwitchCase="10"> tax is 10</div>
  <div *ngSwitchCase="40"> tax is 10</div>
  <div *ngSwitchCase="70"> tax is 10</div>
  <div *ngSwitchCase="100"> tax is 10</div>
  <div *ngSwitchDefault=""> tax is not a valid</div>
</div>

<!-- usecase of ng style -->

<h3 class="bg-primary">ngStyle example</h3>
<!-- setting value first use case -->
<div [ngStyle]="{'background-color':'green','color':'white'}"> This is green dive</div>
<br><br>
<!-- dynamic ngStyle -->
<div [ngStyle]="{'background-color':rcolor}">This is a dynamic ngStyle</div>
<br><br>

<!-- ngstyle with conditional operator -->
<div [ngStyle]="{'color':txtColor === 'purple'? 'purple' : 'green'}">This is conditional div</div>
<br>

<app-list-profile></app-list-profile>

<!-- ngClass example -->
<h1 class="bg-secondary">ngclass</h1>

<!-- used for only one class -->
<div [ngClass]="'c1'">This is ngClass example</div>
<br>

<!-- used for multiple class -->
<div [ngClass]="'c1 c2 c3 c4'">This is ngClass Multiple classes example</div>
<br>

<!-- used for property used with double quotes -->
<div [ngClass]="styleClsProp">This is ngClass using dynamic variable example</div>
<br>

<!-- used for conditional stmt -->
<div [ngClass]="conditionClsProp === 'c4'? 'c4' : 'c5'">This is ngClass using conditional check example</div>
<br>

<!-- used for object -->
 <div [ngClass]="{c4: true, c5: false}">This is ngClass using Object example</div>
 <br>

 <!-- using for ngClass method -->
 <div [ngClass]="myClassName()">This is ngClass method example</div>
<br><br>


<!-- data binding  -->

<!-- interpolation -->
<h1 class="bg-success">interpolation</h1>
<div class="bg-secondary">
  {{page_heading}}
</div>
<br>

 <div *ngFor="let info of contacts">
  <h4 class="col">
   {{info.firstName}}  {{ info.lastName}} {{info.contact}}
  </h4>
 </div>
 <br>
 <br>

<!--crarteing a table  -->
<h2 style="background-color: yellow;">Customer Information</h2>
<table class="table table-bordered border-success"
  >
  <thead>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Contact</th>
  </tr>
</thead>

  <!-- contact is variable her -->
  <tbody>
  <tr *ngFor="let contact of contacts">
    <td >{{contact.firstName}}</td> 
    <td >{{contact.lastName}}</td> 
    <td >{{contact.contact}}</td> 

  </tr>
</tbody>
</table>
<!-- property binding -->
<h3>Property Binding</h3>
<div class="bg-success" [innerText]="title"></div>
<br>


<!-- Attribute binding -->
<h3>Event binding</h3>
<table class="table table-bordered border-primary">
  <thead>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Info</th>
    
  </tr>
</thead>
<tbody>
  <tr>
    <td>Tanveer</td>
    <td>Patel</td>
    <td>CSE</td>
  </tr>
  <!-- removeing one data -->
  <tr>
    <td>Tanveer</td>
    <td>Patel</td>
  </tr>
  <!-- appling colspan not using attribute binding -->
  <tr>
    <td colspan="2">Tanveer</td>
    <td>Patel</td>
  </tr>

  <!-- applying attribute binding -->
  <tr>
    <td [attr.colspan]="colvalue">Tanveer</td>
    <td>Patel</td>
  </tr>

</tbody>
</table>
<br><br>

<!-- Event binding -->
<h2>Event binding</h2>
<button class="bg-success" (click)="sayHello()">click to say hello</button>
<br><br>


<!-- <h2 (mouseover)="heighlight()">Heghlight me please</h2>
<br> -->


<!-- two-way binding -->
<h2>two-way binding</h2>
<input [(ngModel)]="username" />
<div>{{username}}</div>
<br><br>

<!--  -->
 <!-- <h4> Enter your name : <input type="text" [value]="data1"  (change)='data1=$event.target?.value'></h4>
<br>  
Your Name : {{data1}}
<br>   -->

<!-- using [(ngmodel)] 1:u have to import form-model in appmodel -->
<input type="text" [(ngModel)]="data1">
<br>
Entered value : {{data1}}
<br>

<!-- not using ngmodel -->
<h2>not using ngmodel</h2>
<input name="data" (input)="data=getValue($event)" 
[value]="data" />
<br>
Entered value : {{data}}
<br>

<!-- pipes -->

<!-- angular built-in pipes -->
<h1 >angular built-in pipes</h1>
<div class="bg-success">
  <!-- {{<input> | pipes}} -->
  <h2>{{lowerCaseExample | lowercase}}</h2>
  <br>
  <h2>{{upperCaseExample | uppercase}}</h2>
  <br>
  <h2>{{dateExample | date}}</h2>
  <br>
  <h2>{{currencyExample | currency}}</h2>
  <br>
  <h2>{{percentExample | percent }}</h2>
  <br>
  <h2>{{jsonExample | json }}</h2>
</div>


<!-- parameterized pipes -->
<h1 >angular parameterized pipes</h1>
<div>
  <!-- date parametrized -->
  <h1>Date</h1>
  <h4>Short={{dateExample | date : 'short'}}</h4>
  <br>
  <h4>Long={{dateExample | date : 'long'}}</h4>
  <br>
  <h4>Medium={{dateExample | date : 'medium'}}</h4>
  <br>
  <h4>Full={{dateExample | date : 'full'}}</h4>
  <br>
  <h4>ShortDate={{dateExample | date : 'shortDate'}}</h4>
  <br>
  <h4>MediumDate={{dateExample | date : 'mediumDate'}}</h4>
  <br>
  <h4>LongDate={{dateExample | date : 'longDate'}}</h4>
  <br>
  <h4>FullDate={{dateExample | date : 'fullDate'}}</h4>
  <br>
  <h4>LongTime={{dateExample | date : 'longTime'}}</h4>
  <br>
  <h4>ShortTime={{dateExample | date : 'shortTime'}}</h4>
  <br>
  <h4>MediumTime={{dateExample | date : 'mediumTime'}}</h4>
  <br>
  <br><h4>FullTime={{dateExample | date : 'fullTime'}}</h4>
  <br>
  <br><h4>{{dateExample | date : 'MMM-dd-yyyy'}}</h4>
  <br>

  <!-- currency -->
  <h1>currency</h1>
  <h5>INR={{currencyExample | currency : 'INR'}}</h5><br>
  <h5>USD={{currencyExample | currency : 'USD'}}</h5><br>
  <h5>CAD={{currencyExample | currency : 'CAD'}}</h5><br>
  <h5>AED={{currencyExample | currency : 'AED'}}</h5><br>


<!-- percent built in parametrized pipes -->

<div >
  <h4>{{percentExample | percent : '2.1-1'}}</h4>
  </div>

<!-- Chaining of pipes -->

 <h3>Chaining </h3>

<div class="bg-primary">{{dateExample | date |uppercase}}</div><br>

 <div class="bg-secondary">{{currencyExample | currency : 'CAD' |lowercase}}</div> <br>

<!-- json pipes example -->
 <h2>Json pipe example</h2>
 <h6>
 <div>{{jsonExample | json}}</div>
</h6>
 <br>
 <!-- using slice  -->
 <div class="b">{{jsonExample |slice:2:3| json}}</div>
 <br>

 <!-- custom pipe -->
 <h2>custom pipes example</h2>
 <table class="table table-bordered border-success">
  <thead>
  <tr>
    <th>Code</th>
    <th>FirstName</th>
    <th>Gender</th>
    <th>Salary</th>
    <th>Profile</th>

  </tr>
</thead>

<tbody>
  <tr *ngFor="let emp of employees">
    <td>{{emp.code}}</td>
    <td>{{emp.firstName | mypipe:emp.gender }}</td>
    <td>{{emp.gender}}</td>
    <td>{{emp.salary}}</td>
    <td>{{emp.exp | mypipe2:emp.exp}}</td>
  </tr>
</tbody>
 </table>
</div>
<!-- multiple outlet -->
<!-- primary outlet-->
<router-outlet></router-outlet>
<!-- secondary outlet -->
<router-outlet name="addLoan"></router-outlet>
<!-- named outlet -->
<router-outlet name="editLoan"></router-outlet>
